<div class="box col-md-12">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Fitness listing</h1>
      <p class="slogan">Fitness listing 是一个可以提供健身养生平台
        <br>
        21世纪什么最贵：健康的身体
        <br>
        不要再犹豫
      </p>
      <p class="lead">
        <%= link_to '立即行动', jobs_path, class: 'btn btn-danger btn-lg' %>
      </p>
    </div>
  </div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">瑜伽师</h2>
        <p class="lead">使顾客修炼身心灵获得健康生活方式</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">按摩师</h2>
        <p class="lead">让顾客迅速恢复最佳状态，消除疼痛</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">营养师</h2>
        <p class="lead">在饮食和疾病预防规划最佳方案</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
